:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}
@font-face {
  font-family: Figtree;
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}
body {
  font-family: "Figtree", sans-serif;
  background-color: var(--Yellow);
  font-size: 16px;
  overflow: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: white;
  box-shadow: 10px 10px var(--Black);
  border-radius: 20px;
  width: 200px;
  padding: 1.5em;
  border: 1px solid var(--Black);
}
.card {
  border-radius: 15px 15px 15px 15px;
  width: 200px;
  margin-bottom: 0.5em;
}
h1 {
   font-size: 24px;
}
.text {
  color: var(--Grey);
  line-height: 1.5em;
}
.bold-text {
  background-color: var(--Yellow);
  font-weight: bold;
  padding: 12px;
  width: 65px;
  border-radius: 5px;
}
.mini-container {
  display: flex;
}
.avatar {
  padding-top: 0.5em;
  width: 32px;
  height: 35px;
}
h2 {
  font-size: 16px;
  padding-left: 10px;
}
.attribution {
  margin-top: 2em;
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
h1:hover {
  color: var(--Yellow);
  cursor: url("./assets/images/pointer-icon.svg"), auto;
}
@media (min-width: 500px) {
  .container,
  .card {
    width: 350px;
  }
}
