:root {
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);
}
body {
  width: 375px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  min-height: 100vh;
}
.desktop {
  display: none;
}
.logo {
  float: left;
  padding: 1.45em 2.4em;
  height: 21px;
}
.mobile {
  margin: 1em 0 3em;
}
h1 {
  font-weight: 600;
  font-size: 40px;
  margin: 0.55em 0 0.43em;
  line-height: 1.05em;
  text-transform: uppercase;
  letter-spacing: 11px;
}
.highlight {
  font-weight: 100;
  color: var(--DesaturatedRed);
}
p {
  color: var(--DesaturatedRed);
  line-height: 1.55em;
  font-size: 14px;
  padding: 0 2.4em 0.5em;
}
form {
  position: relative;
  border-radius: 30px;
  display: flex;
  width: 309px;
  margin: 2em auto;
  outline: 1px solid #eedee2;
}
.email {
  padding: 1.12em 1.6em;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-family: "Josefin Sans";
}
.email::placeholder {
  color: var(--DesaturatedRed);
}
button {
  background: url("../images/icon-arrow.svg") no-repeat;
  background-color: #f5acad;
  background-position: 25px 12px;
  border-radius: 50px;
  padding: 1.68em 2.24em;
  position: absolute;
  border-color: transparent;
  right: -1px;
  top: -1px;
  box-shadow: 2px 5px 15px var(--DesaturatedRed);
}
button:hover {
  cursor: url("../images/cursor-pointer.svg"), auto;
}
.validation-icon {
  display: none;
  position: relative;
  left: -56px;
  top: 11px;
  width: 20%;
}
.validation-result {
  color: var(--SoftRed);
}
.attribution {
  margin: 1.5em 0;
  font-size: 14px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 800px) {
  body {
    width: 100%;
    text-align: left;
    background: url("../images/bg-pattern-desktop.svg"),
      linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  }
  main {
    margin: auto;
    padding-left: 7em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  .desktop {
    display: block;
  }
  .image {
    width: 41.25%;
  }
  .logo {
    padding: 5em 5.7em;
    height: 33px;
  }
  .mobile {
    display: none;
  }
  .container {
    padding: 10.25em 5.8em;
  }
  h1 {
    font-size: 63px;
    margin: 1.33em -2px 0.34em;
    letter-spacing: 18px;
    line-height: 1.096em;
  }
  p {
    padding: 0 0 1.55em 0;
    font-size: 16px;
    line-height: 1.73em;
    width: 27rem;
  }
  form {
    margin: 0.8em 0 0 0.1em;
    width: 410px;
  }
  .email {
    padding: 1.18em 1.9em;
    font-size: 16px;
    border-radius: 50px;
  }
  button {
    background-position: 43px 16px;
    padding: 1.95em 3.62em;
    right: -34px;
    top: -1px;
  }
  .validation-icon {
    left: -48px;
    top: 15px;
  }
  .validation-result {
    padding: 1em 2.5em;
  }
  .attribution {
    text-align: center;
  }
}
